/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 13, 2018, 9:00:40 PM
    Author     : Mark
*/



body {
    padding-bottom: 40px;
    background: linear-gradient(#ddd, #aaa);
    color: black;
    min-height: 900px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    font-size: 50px;
    text-align: center;
    height: 90px;
    border: 2px solid black;
    background-color: #aaa;
    padding-top: 20px;
    margin: 25px;
}

footer{
    color: white;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 50px;
    width: 100%;
}

table {
    margin: auto;
    border: 3px solid black; 
    border-collapse: collapse; 
    padding: 5px;
    background: #eee;
}

th {
    border: 1px solid black;
    border-bottom: 3px double black; 
    border-collapse: collapse;
    padding: 7px;
}

td {
    border: 1px solid black; 
    border-collapse: collapse;
    padding: 7px;
}

.centered {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
}

.centered2 {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 20px;
}

form{
    margin-left: 45%;
    margin-bottom: 0px;
    margin-top: 50px;
}

.message{
    color: red;
    display: inline;
}

.button1{
    width: 200px;
    height: 40px;
    font-size: large;
}

